@font-face {
  font-family: "Ubuntu";
  src: url("/assets/font/Ubuntu-B.ttf"),
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fa/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('/assets/fa/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/assets/fa/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('/assets/fa/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  text-align:center;
}

:root {
  --accents: #222;
  --backgrounds: #222;
  --navbg: #111;
  --textcolor: white;
  --outlines: gray;
  --hovers: #444;
}

body {
  background-color: var(--backgrounds);
  background-size: cover;
  color: var(--textcolor);
  font-family: 'Ubuntu';
  font-weight: 450;
}

a:link {
  text-decoration: none;
}

.navbar {
  background: var(--navbg);
  border-bottom: 2px solid var(--accents);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  z-index: 9212;

}

.navbar a {
  color: var(--textcolor);
  display: block;
  float: left;
  font-size: 17px;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background-color: var(--hovers);
  color: var(--textcolor);
}

.navbar .icon {
  display: none;
}

a,
.navbar a.active {
  color: var(--textcolor);
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    display: block;
    float: right;
  }
  .navbar.responsive {
    position: fixed;
    width: 100%;
    z-index: 69111;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
}

.bodycontainer {
  letter-spacing: 0.6px;
  color: var(--textcolor);
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  justify-content: center;
  line-height: 0.4;
  margin: auto;
  text-align: center;
  width: 100%;
}

ul {
  list-style-type: none;
}

.b-box {
  color: black;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 30px;
  font-size:20px;
  text-align:center;
  margin:0 auto;
  left:-40px;
}

.bar {
  margin-top: 6px;
  margin-bottom: 6px;
  border: 2px solid var(--outlines);
  color: var(--textcolor);
  display: flex;
  height: 40px;
  min-width: 360px;
  outline: none;
  width: 50%;
    margin: 0 auto;
    text-align:center;
    margin-right: auto;
margin-left: auto;
}

.sbar {
  margin-top: 6px;
  margin-bottom: 6px;
  border: 2px solid var(--outlines);
  color: var(--textcolor);
  display: flex;
  height: 40px;
  left: 0px;
  right: 0px;
  min-width: 160px;
  outline: none;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  text-align:center;
  margin-right: auto;
margin-left: auto;
}

input,
button {
  background-color: var(--backgrounds);
  color: var(--textcolor);
  border: 0;
}

input {
  color: var(--textcolor);
  outline: none;
  padding: 10px;
  width: 100%;
}

#gframe {
  position: fixed;
  top: 45px;
  left: 0px;
  width: 100%;
  height: -webkit-calc(100% - 45px);
  height: calc(100% - 45px);
  z-index: 1;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-bars:before {
  content: "\f0c9"
}
